name: Lint

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint Code
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install root dependencies
        run: npm install

      - name: Run root linter
        run: npm run lint

      - name: Install API dependencies
        working-directory: ./api
        run: npm install

      - name: Run API linter
        working-directory: ./api
        run: npm run lint
